/* cyrillic-ext */
@font-face {
    font-family: 'Segal';
    src: url('../fonts/selga_demo-webfont.woff2') format('woff2'),
    url('../fonts/selga_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
